name: Build XeLaTeX documents
on: [push]
env:
  OUT_DIR: output
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Compile LaTeX document
        # This opens the devShell for the 'latex' output and runs 'just build' inside it
        run: nix develop .#latex --command just build

      - name: Upload PDF file
        uses: actions/upload-artifact@v6.0.0
        with:
          name: notes
          path: ${{ env.OUT_DIR }}/*.pdf
