name: Build XeLaTeX documents
on: [push]
env:
  OUT_DIR: output
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6.0.2

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      # # Debug
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3.23

      - name: Compile LaTeX document
        run: |
          # 1. Build fonts and construct the OSFONTDIR path dynamically.
          # We use 'sed' to append the critical '//' for recursive search.
          FONT_DIRS=$(nix build \
            nixpkgs#nerd-fonts.iosevka \
            nixpkgs#noto-fonts-cjk-sans \
            nixpkgs#noto-fonts-cjk-serif \
            --print-out-paths --no-link \
            | sed 's|$|/share/fonts//|' \
            | paste -sd ":" -)
          # 2. Run the build
          # The variable FONT_DIRS now contains the store paths with '//' appended
          nix develop github:magic0whi/dev_flake#latex --command \
            env OSFONTDIR="$FONT_DIRS" \
            nix run nixpkgs#just -- build

      - name: Upload PDF file
        uses: actions/upload-artifact@v6.0.0
        with:
          name: notes
          path: ${{ env.OUT_DIR }}/*.pdf
